

.leftPanel{
  background-color: #e7e7e7;
}



.rightPanel {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
}
@media only screen and (max-width: 960px) {
  .rightPanel {
    justify-content: center;
    align-content: center;
  }
}

@media only screen and (min-width: 960px) {
.fixed-panel
  {
    height: 100%;
    width: 100%;
    max-width: 330px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  


}